<form name="selectOcpForm" action="/controllers/?action=selectOcp" method="post" target="_blank">
	<label>
		<span>Provider * :</span>
	</label>
	<ul>
		<li><label><input type="radio" name="providerName" value="Escalion"><span><span></span></span>Escalion</label></li>
		<li><label><input type="radio" name="providerName" value="OTPSimple"><span><span></span></span>OTP Simple</label></li>
		<li><label><input type="radio" name="providerName" value="Saferpay"><span><span></span></span>Saferpay</label></li>
	</ul>
	<label>
		<span>Registered user ID * :</span>
		<input type="text" name="userId" value="">
	</label>
	<input type="submit" name="submit" value="Next">
</form>

<div class="description">
	<h2>Sample code with PHP SDK</h2>
	<div class="xdebug-var-dump">
		$config = new \BigFish\PaymentGateway\Config();<br />
		<br />
		$config->storeName = $data['storeName'];<br />
		$config->apiKey = $data['apiKey'];<br />
		$config->testMode = true; <font>// Set to false in production environment</font><br />
		<br />
		BigFish\PaymentGateway::setConfig($config);<br />
		<br />
		<font>
			/**<br />
			&nbsp;* Get registered card data belonging to customer<br />
			&nbsp;*/
		</font><br />
		$oneClickOptionsResponse = \BigFish\PaymentGateway::oneClickOptions(<br />
			<blockquote>new BigFish\PaymentGateway\Request\OneClickOptions(<br />
				<blockquote>$data['providerName'],</blockquote>
				<blockquote>$data['userId']</blockquote>
			)</blockquote>
		);
	</div>
	<br />
	<div class="text">
		Download PHP SDK from GitHub: <a href="https://github.com/bigfish-hu/payment-gateway-php-sdk" target="_blank">https://github.com/bigfish-hu/payment-gateway-php-sdk</a>
	</div>
</div>

<div class="description">
	<h2>REST API</h2>
	<div class="text">
		<br />
		Test URL: <a>https://test.paymentgateway.hu/api/rest/</a><br />
		<br />
		Production URL: <a>https://www.paymentgateway.hu/api/rest/</a><br />
		<br />
		<br />
		<b>HTTP Basic Authentication:</b><br />
		<br />
		Send base64 encoded StoreName and ApiKey in HTTP Header.<br />
		<br />
		Example:<br />
		<br />
		Authorization: Basic c2RrX3Rlc3Q6ODZhZjMtODBlNGYtZjgyMjgtOTQ5OGYtOTEwYWQ=<br />
		<br />
		Where the c2RrX3Rlc3Q6ODZhZjMtODBlNGYtZjgyMjgtOTQ5OGYtOTEwYWQ= string equal in PHP:<br />
		<br />
		base64_encode("sdk_test:86af3-80e4f-f8228-9498f-910ad");<br />
		<br />
		<br />
		<b>Get registered card data belonging to customer:</b><br />
		<br />
		Required data (HTTP POST):<br />
		<br />
		method = OneClickOptions<br />
		json = {json encoded variables}<br />
		<br />
		Parameter (* if necessary):<br />
		<br />
		StoreName*<br />
		ProviderName*<br />
		UserId*<br />
		<br />
		Example:<br />
		<br />
		method=OneClickOptions&json={"StoreName":"sdk_test","ProviderName":"OTPSimple","UserId":"[One Click Payment registered customer identifier]"}<br />
		<br />
		Response data (JSON format):<br />
		<br />
		Data<br />
		ResultCode<br />
		ResultMessage<br />
		<br />
	</div>
</div>
