<ul>
	<li><a href="/views/?action=start" target="_blank">Start transaction</a> (init, start)</li>
	<li><a href="/views/?action=result" target="_blank">Get result</a> (result)</li>
	<li><a href="/views/?action=close" target="_blank">Allow/Revoke two-step transaction</a> (close)</li>
	<li><a href="/views/?action=details" target="_blank">Get details</a> (details)</li>
	<li><a href="/views/?action=refund" target="_blank">Refund</a> (refund)</li>
	<li><a href="/views/?action=selectOcp" target="_blank">One Click Payment (without any intermediate page)</a></li>
	<li><a href="/views/?action=startRP" target="_blank">Start recurring payment</a> (initRP, startRP)</li>
	<li><a href="/views/?action=invoice" target="_blank">Invoice</a> (invoice)</li>
</ul>