<ul>
	<li><a href="/views/?action=start" target="_blank">Tranzakció indítása</a> (init, start)</li>
	<li><a href="/views/?action=result" target="_blank">Eredmény lekérdezése</a> (result)</li>
	<li><a href="/views/?action=close" target="_blank">2 lépcsős tranzakció engedélyezése/elutasítása</a> (close)</li>
	<li><a href="/views/?action=details" target="_blank">Részletes adatok lekérdezése</a> (details)</li>
	<li><a href="/views/?action=refund" target="_blank">Visszatérítés</a> (refund)</li>
	<li><a href="/views/?action=selectOcp" target="_blank">One Click Payment indítása (köztes oldal nélkül)</a></li>
	<li><a href="/views/?action=startRP" target="_blank">Ismétlődő fizetés indítása</a> (initRP, startRP)</li>
	<li><a href="/views/?action=invoice" target="_blank">Számlázás</a> (invoice)</li>
</ul>